<div class="card m-3 shadow">
	<div class="row g-0">
		<div class="col-md-4">
			<img src="/public/covers/<%= book.cover || 'deno.png' %>" class="w-100">
		</div>
		<div class="col-md-8">
			<div class="card-body">
				<h5 class="card-title"><%= book.title %></h5>
				<hr>
				<p class="card-text">Author: <%= book.author %></p>
				<p class="card-text">Likes: <%= book.likes %></p>
				<a class="text-muted text-decoration-none stretched-link" href="/book/<%= book.id %>">Tap to read more</a>
			</div>
		</div>
	</div>
</div>